@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Oswald:200,400|Playfair+Display:400,400i");
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');

:root{
	--c1:#edf2fc;
	--c2:#60f58d;	
}

.dark-theme{
	--c1:#000106;
	--c2:#fff;
}
*:focus {
    outline: none;
}

h1{
  text-align: center;
}

/* .main-content .row{
  padding :3px;
  border-color: red;
  
} */
.title{
  margin-left:7%;
}
.main-content iframe{
  border-radius: 9px;
  box-shadow: 0px 2px 5px 0px rgba(155, 155, 155, 0.5);
  width: 900px;
  height: 500px;
  margin:auto;
  margin-left:10%;
  border-color: #000106;
}
.quote{
  font-size: 20px;
  color:rgb(89, 20, 218);
}

#error{
  color : rgb(207, 120, 120);
}
.btn {
	 max-width:350px;
   width:90%; 
	 /* min-width: 260px; */
   padding: 12px 0px 12px 70px;
   margin-top: -129%;
}
.main{
  max-width:350px;
  width:63%;  
  height:250px;
  margin-top: 10%;
}
.main-content .row img{
  height: 230px;
  width: 400px;
  margin-top: -100px;
  margin-left: 55px;
}


/* Mobile View */
@media(max-width:32em){
  .main{
    width:17em;
    margin-top: 4%;
  }
  .btn{
    max-width:20em; 
  	padding: 12px 35px 12px 50px;
    margin-top: -24em;
  }
  .main-content iframe{
    border-radius: 7px;
    width: 90%;
    height: 12em;
    margin-left:5%;
  }
  /* .main-content .row img{
    height: 230px;
    width: 400px;
    margin-top: -100px;
    margin-top: -5em;
    margin-left: 1%;
  } */
}
