@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Oswald:200,400|Playfair+Display:400,400i");
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');

:root{
	--ca:#edf2fc;
	--cb:rgb(51, 50, 53);	
  --cc:rgb(50, 49, 53);
  --cd:#7070e5ff;

}

.dark-theme{
	--ca:#000106;
	--cb:#d5d5f7ff;
  --cc:#c5c5fcff;
  --cd:#9090f7ff;
  
  /* var(--c2); */
}
*:focus {
    outline: none;
}
/* #loader{
  display:none;
} */

h1{
  text-align: center;
  color:var(--cb);
}
p{
  text-align: center;
}

.main-content p{
  color:var(--cc);
  font-size: 17px;
}
.inputbox input {
  /* max-width:350px; */
  width: 56% ;
  max-width:400px;  
  height:40px;
  padding: 3.5px 9px;
  margin-left:22%;
  border-radius: 6px; 
  border: solid 1px #eee;
  box-shadow: 0px 2px 5px 0px rgba(155, 155, 155, 0.5);
}

.inputbox input :focus {
    background-color: #fff;
}

.inputbox input:hover {
    background-color: #fff;
}

.inputbox input.open:after {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.quotel{
  font-size: 10px;
  color:var(--cd);
  margin-right: 2px;
}
.quoter{
  font-size: 10px;
  color:var(--cd);
}


#error{
  color : rgb(207, 120, 120);
}


@media(min-width:712px){
  .inputbox input {
    width:28%;  
    margin-left:37%;
  }
}

/* Mobile View */
@media(max-width:32em){
  
  .inputbox input {
    width:82%;  
    margin-left:10%;
  }
  .main{
    width:26%;  
    margin-left:37%;
  }
  .main-content p{
    font-size: 14px;
  }
  .quotel{
    font-size: 9px;
  }
  .quoter{
    font-size: 9px;
  }
}